*{
  font-family: 'Roboto', sans-serif;
}

html,body{
  width: 100%;
}

div.fab{
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
}

div.listCircle{
  margin-top: 1%;
}

h4.frameworks_title{
  text-align: center;
  font-size: 1.5em;
  margin-top: 8%;
}

h4.idolos_titulo{
  text-align: center;
}

img.img_idolos{
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#map{
  height: 50%;
  margin-top: 10%;
}

span.fabIcon{
  margin-top: 10px;
}
